@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

html{
	font-size: 16px;
}


*{
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6{
	font-family: "Alfa Slab One", serif;
	font-weight: 400;
	font-style: normal;
}

h3{ font-size: 2rem;}
h1{font-size: 3rem;}

body{
	background-color:white;
}


header{
	position: sticky;
	top: 0;
	padding: 5px 15px;
	background-color:#4d66ab;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	.logo{
		width: 150px;
		display: inline-block;
		font-size: 0;
		vertical-align: middle;
		/*solicion chat gpt*/
	

		img{
			width: 100%
		}
	}
		/*filter: invert();*/

	i {color: white;}
	.navHeader{
		width: 85%;
		text-align: center;
		display: inline-block;
		.ulHeader{
			list-style: none;
			margin-top: 1px;
			margin-bottom: 1px;
		
			.listaItem{ 
				display: inline-block;
				margin-left: 90px;
				margin-right: 90px;
				
			
			.linkHeader{
			color: #ffffff;;
			text-decoration: none;
			display: inline-block;
			padding-top: 5px;
			padding-bottom: 5px;
				}
			}
		}
	}
}

.logoCarrito{
	color: white;
	display: inline-block;
	margin-right: 0;
	

}

.sectionPrincipal{

	background-image: radial-gradient(circle, #00000086, #00000027), url(../assets/img/cuadraditos.jpg);
	background-size: cover; /*Para que la imagen ocupe todo el espacio disponible*/
	background-position: center; /*Para que la imagen siempre comience desde el centro del contenedor y se expanda*/
	/*height: 95vh;*/
	height: 560px;
	
	color: white;
	width: 100%;
	/*padding-top: 60px;*/
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 150px;
	padding-bottom: 60px;
	/*padding-bottom: 60px;*/
	display: flex;
	flex-direction: column;
	justify-content: space-between;



	div{color:white; font-size: 3rem; }
	p{color: #faf5f5;font-size: 1.25rem;}

	.anclaEncontranos{
		display: block; /*nos permite trabajar las anclas como elementos en bloque*/
		color: gold; 
		text-decoration: none;
		/*margin-top: 120px;*/
		text-align: center;
		margin: 0% auto;
		width: 25%;
		border-radius: 2px;
		border: solid #ececec 2.5px;
		padding: 10px 20px;
		
		font-size: 2rem;
		
		
	
		
		
	

	}
	.textoColor{
		color: white;
		text-shadow: black 0.2em 0.2em 0.3em;
	}
}


/*.div50porciento{
	width: 50%;	
}*/


.aUnBocadoDeDistancia{
	font-family: "Alfa Slab One";
	font-size: 4.5rem;
	text-shadow: black 0.1em 0.1em 0.6em;
}


.almaDeEspania{
	/*padding-top: 100 px;*/
	h1{
		font-family: "Poppins", sans-serif; color: white;
		font-size: 1em;
		/*padding-top: 10%;*/
		text-shadow: black 0.2em 0.2em 0.3em;
		}

}



.nuestrosProductos{
	/*height: 75vh;*/
	height: 560px;


}

.nuestrosProductosAlineado{
	text-align: center;
	/*margin-top: 50px;
	margin-bottom: 50px;*/
	padding-top: 50px;
	padding-bottom: 40px;
	font-size: 3rem;

	a{
		color: #000000; 
		text-decoration: none; 
		font-family: "Alfa Slab One"; 
		font-size: 3rem;
		
	}

}

.contenedorProductos{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style: none;
	gap: 20px;
	flex-wrap: wrap;
	width: 90%;
	margin: 0 auto;
	padding: 15px;
	

}
.cajasProducto{
	/*display: inline-block;*/

	width: 15%;
	border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Añade sombra */
	text-align: center;
	/*margin-bottom: 50px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;*/
	
	

	img{
		width: 80%;
	}
	h3{
		font-size: 1.2rem;
		color: #414141;
		margin-top: 15px;
		height: 70px;
	
	}
	h4{ 
		font-size: 1.1rem;
		color: #414141;
		margin-top: 5px;
		margin-bottom: 20px;
		
	}
	a{/*Si quisiera darle padding al ancla debo usar displa: inline-block*/
		display: inline-block;
		font-size: 1.2rem;
		color: #ffd700;
		margin-top: 10px;
		padding: 5px 10px;

	}
}

.tarjetaSectionEvento{
	display: flex;
	justify-content: space-evenly;
	padding-top: 20px;
	padding-bottom: 20px;


}

.pruebaSection{
	display: flex;
	flex-wrap: wrap ;
	justify-content: space-evenly;
	h2{text-align: center;}
	p{text-align: center;}
	a{text-align: center;}

}


.secretosDeNuestroChef{
	background-image: radial-gradient(circle, #000000e1, #00000000), url(../assets/img/alcoholic-beverages-1845295_1920.jpg);
	background-size: cover;
	background-position: top center;
	/*border: 15px solid #ffffff;*/
	color: white;
	/*padding: 150px 0;*/
	height: 400px;
	width: 45%;
	box-shadow: #000000;
	padding-top: 150px;
	h2{
		font-size: 2rem; 
		font-family: "Poppins", sans-serif; 
		padding-right: 10px;
		padding-left: 10px;}
	p{
		font-size: 2rem; 
		font-family: "Alfa Slab One", serif;
		padding-right: 10px;
		padding-left: 70px;
		background-color: #ffffffad;
		color: #000000;
	}

	
	
}

.eventoTematicoDelMes{
	background-image: radial-gradient(circle, #000000e1, #00000000), url(../assets/img/flamenco-594272_1920.jpg);
	background-size: cover;
	background-position: top center;
	/*border: 15px solid white;*/
	height: 400px;
	width: 45%;
	color: white;
	padding-top: 150px;
	box-shadow: #000000;
	h2{
		font-size: 2rem; 
		font-family: "Poppins", sans-serif;
		padding-left: 10px
	}
	p{ 
		font-size: 2rem; 
		font-family: "Alfa Slab One", serif;
		text-align: right;
		padding-right: 5px;
		background-color: #ffffffad;
		color: #000000;
	}

}

.botonCentrado{
	text-align: center;
	margin-top: 20px;
	
	a{	
	
		color: gold; 
		font-size: 1.2rem; 
		text-decoration: none;	
		padding: 5px 10px;
		background-color: #000000;
		border: 1px solid rgba(255, 255, 255, 0.753);
		
	}
		
}

.tituloNosotros{
	h2{
		color: #000000;
		text-align: center;
		font-size: 3rem;
		padding-bottom: 45px;
		padding-top: 45px;
	}
}
.sectionNuestraHistoria{

display: flex;
align-items: center;
padding-left: 20px;
padding-right: 20px;
gap: 40px;



	img{
		/*padding-top: 200px;*/
		width: 600px;
	}
	p{
		font-size: 1.5 rem;
		color: #303030;
		text-align: justify;
		padding-bottom: 15px
		;
		
	}
}

.huertaMola{
	text-align: center;
	padding-bottom: 45px;
	padding-top: 45px;
	h2{font-size: 3rem}
}

.contenedorGridHuerta{
	/*width: 93%;
	margin: 0 auto;
	/*height: 100vh;
	height: 225vh;*/
	width: 97%;
	/*height: 100vh;*/
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1.5fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "textoUno video textoDos"
						 "textoTres video textoCuatro";
	gap: 20px;

	.contenedorVideo{
		width: 100%;
		height: 100%;
		overflow: hidden;
		padding-bottom: 50px;

		
		
		video {
			/*width: 100%;
			height: 100%;*/
			object-fit: cover;
			display: block;
			margin: 0 auto;
			
			}
			
	}

}

.textoUno{
	grid-area: textoUno;
}
.textoDos{
	grid-area: textoDos;

}

.video{
	grid-area: video;
}

.textoTres{
	grid-area: textoTres;

}
.textoCuatro{
	grid-area: textoCuatro;

}

.contendorTexto{
	h3{
		font-size: 1.2rem;
		text-align: left;
		color: #414141;
	}
	
}
.contenedorTextoDos{
	h3{
		font-size: 1.2rem;
		text-align: right;
		color: #414141;
	}
}

.contenedorParrafoUno{
	font-size: 1rem;
	text-align:right;
	color: #414141;
}
.contenedorParrafoDos{
	font-size: 1rem;
	text-align:left;
	color: #414141;
}

.molaCerca{
	background-image: radial-gradient(circle, #000000e1, #00000000), url(../assets/img/Imagen_encontranos.jpg);
	background-size: cover;
	background-position: center;
	height: 500px;
	h2{
		color: white;
		font-size: 3rem;
		text-align: center;
		padding-top: 150px ;
	}
	h3{
		color: white;
		font-size: 2.5rem;
		text-align: center;
	}
	p{
		color: white;
		font-size: 1.5rem;
		text-align: center;
		margin-bottom: 70px;
	}
	a{
		color: gold;
		font-size: 2rem;
		text-align: center;
		text-decoration: none;
		border: solid rgb(255, 255, 255) 2px;
		padding: 3px;

		margin-left: 42%;
	}
}
/*FIN DEL INDEX*/
/*PAGINA | PRODUCTOS*/

.galeriaGrid{
	width: 93%;
	margin: 0 auto;
	/*height: 100vh;*/
	height: 225vh;
	display: grid;
	grid-template-columns: 1fr 0.75fr;
	grid-template-rows: 1fr 1fr 0.5fr 1fr;
	grid-template-areas: "cheescake chocotorta"
						 "budin chocotorta"
						 "cuadradito chocotorta"
						 "cuadradito alfajores";
	gap: 25px;

	.contenedorImagen{
		width: 100%;
		height: 100%;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;		
			}
	}

	.transicionFoto img {
		transition: transform 0.8s ease-in-out;
	}
	.transicionFoto 	
		img:hover {
		transform: scale(1.1);

	}

	.cheescake{
		grid-area: cheescake;
		
	}
	.chocotorta{
		grid-area: chocotorta;
		
	}
	.budin{
		grid-area: budin;
		
	}
	.cuadradito{
		grid-area: cuadradito;
		
	}
	.alfajores{
		grid-area: alfajores;
		
	}

}
.margin{
	padding: 20px;
	text-align: center;
}




.footer{
display: flex;
justify-content: space-between;
gap: 25px;
padding: 25px 25px 25px 25px;
p{color: white;}
h3{
	font-size: 1.2rem;
	padding-bottom: 10px;
	
}
ul{
	font-size: 1rem;
}
	.logo{
		width: 250px;
		display: grid;
		justify-content: center;
	}
	ul{
		list-style: none;
	}
	background-color: #4d66ab;
	
	a{
		color: white;
		text-decoration: none;
	}
	
	.fa-whatsapp{
		color: #ffffff;
		font-size: 30px;

	}
	.fa-facebook{
		color: #ffffff;
		font-size: 30px;
		padding-right: 10px;
		padding-left: 100px;
	}
	.fa-instagram{
		color: #ffffff;
		font-size: 30px;
		padding-right: 10px;
	}

}
.redesSociales{
	padding-bottom: 25px;
	
	
}
.botonSuscripcion{
	padding-bottom: 25px;
}


/*FIN DEL FOOTER*/
/*PAGINA | CONTACTO*/

.formulario{
	background-image: radial-gradient(circle, #00000086, #00000027), url(../assets/img/Encontranos.jpg);
	background-size: cover; /*Para que la imagen ocupe todo el espacio disponible*/
	background-position: center; 
	width: 100%;
	margin: 0% auto;
	padding-top: 150px;
	padding-bottom: 150px;
	padding-left: 50px;
	padding-right: 50px;
	text-align: center;

	h1{
		color: rgba(255, 255, 255, 0.63);
		font-size: 1.3rem;
		padding-bottom: 15px;
		

	}
	h2{
		color: rgba(255, 255, 255, 0.63);
		font-size: 1rem;
		padding-bottom: 15px;
		padding-top: 15px;
	
	}
	p{
		color:rgba(255, 255, 255, 0.63);
		padding-bottom: 5px;
		font-size: 0.8rem;
		
		
	}
	label{ 
		color: rgba(255, 255, 255, 0.63);
		
		
	}
	input {
		background-color: rgba(78, 77, 77, 0.24);
		border: solid rgba(255, 255, 255, 0.63) 1px;
		border-radius: 5px;
		color: rgba(255, 255, 255, 0.548);
		
	
	  }
	button {
		background-color: rgba(78, 77, 77, 0.24);
		border: solid rgba(255, 255, 255, 0.63) 1px;
		border-radius: 5px;
		color: white;
		margin-top: 5px;
		padding: 2px 1px;

	}

}
.centrado {
	width: 40%;
	margin: 0% auto;
	background-color: #30303062;
	
	padding: 10px 10px;
	border-radius: 5px;
}
.espaciado{
	padding-right: 13px;
}
.espaciadoLebel{
	padding-top: 15px;
}

.sucursalCercana{
	background-color: #fdfdff;
	text-align: center;
	h1{font-size: 2rem; color: #414141; padding: 25px;}
}

.sucursal{
	display: flex;
	justify-content: space-evenly;
	align-items:center;

	iframe{
			border: none;
			border-radius: 10px;
			transition: transform 0.3s ease, box-shadow 0.3s ease;
	}
}

iframe:hover {
	transform: scale(1.05); /* Aumenta ligeramente el tamaño */
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Resalta la sombra */
  }

.datosSucursal{
	h2{ color: #303030;}
	p{color: #303030;}
	
}

@media screen and (max-width: 768px) {
	html{
		font-size: 12px;
	}

	.sectionPrincipal {
	
		.anclaEncontranos {
			width: 60%;
		}
	}

	.nuestrosProductos{
		height: auto;
	}
	
	.cajasProducto{
		width: 100%;
		h3{
			height: auto;
		}
		h4{
			margin-top: 5px ;
		}
		a{
			font-size: 2rem;
		}
	}
	.tarjetaSectionEvento{
		flex-wrap: wrap;
		gap: 20px;
	}
	.secretosDeNuestroChef{
		width: 100%;
		height: auto;
		padding-top: 75px;
		padding-bottom: 75px;
		p{
			font-size: 1.9rem;
		}
		
	}
	.eventoTematicoDelMes{
		width: 100%;
		height: auto;
		padding-top: 75px;
		padding-bottom: 75px;
		p{
			font-size: 1.8rem;
			padding-right: 25px;
		}
	}
	.sectionNuestraHistoria{
		
		.imagenMovil{
			display: none;
		}
	}
	.contenedorGridHuerta{
		/*width: 93%;
		margin: 0 auto;
		/*height: 100vh;
		height: 225vh;*/
		width: 97%;
		/*height: 100vh;*/
		margin: 0 auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-areas: "textoUno textoDos"
							 "video video"
							 "textoTres textoCuatro";
		.contenedorVideo{
			padding-bottom: 10px;
			video{
				height: 200px;
			}
		}

}

	.molaCerca{
		a{
			margin: 0 auto;
			width: 60%;
			display: block;
			
			
		
		}
	}
	.footer{
		flex-wrap: wrap;
		div
		{width: 100%;}
	}
}
/*FIN DE PAGINA | CONTACTO*/
/*SECTION MARIDAJES*/

body{
    background: #ffffff;
}
header{
    padding: 20px;
	
}
	
footer{
   
    margin-top:20px;}
    


.maridajes{
    width: 100%;
    margin:0 auto;
    height: 75vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
	
    
	
}

.maridajes img{
    width: 0px;
    height:100%;
    flex-grow: 1;/*que dentro de la caja flexible ocupe todo el espacio que pueda*/
    object-fit: cover;
    opacity: 0.8;
    transition: .5s ease;
}


.maridajes img:hover{
    width: 30%;
    opacity: 1;
    filter:contrast(120%);
    
}
.ColorFondo{
	background-color: #f1f1f1;
}

.elegidosMaridajes{
	display: flex;
	align-items: center;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 13px;
	gap: 20px;

	img{
		width: 500px;
		border-radius: 10px 10px;
	}
	h2{
		color: #303030;
	}
	h3{
		font-size: 1.2rem;
		font-family:"Poppins";
		font-weight: bold;
		padding-top: 10px;
		padding-bottom: 10px;
		color: #303030;	
	}
}
	

@media screen and (max-width: 768px){
    .maridajes{
        flex-wrap: wrap;
    }
    .maridajes img{
        height: 80%;
    }
    .maridajes img:hover{
        width: 70%;
        
    }
}

/*FIN DE PAGINA | SECTION MARIDAJES*/
/*SECTION TABLAO*/
.sectionTablao{
	padding-bottom: 25px;
}
.tablao{
	background-image: radial-gradient(circle, #00000010, #000000c2), url(../assets/img/evento_tematico_del_mes/banner.jpg);
	background-size: cover; 
	background-position: center; 
	height: 560px;
	color: white;
	width: 100%;
	padding-bottom: 200px;

	h2{ font-size: 4.5rem;
		text-align: right;
		padding-top: 230px;
		padding-right: 95px;
		text-shadow: black 0.1em 0.1em 0.6em;}
	p{ font-size: 1.5rem;
		text-align: right;
		padding-right: 95px;
		text-shadow: black 0.3em 0.3em 0.6em;
}
}

.evento_tematico{
	display: flex;
	justify-content: space-between;
	
}
.evento_tematico_uno{
	background-image: url(../assets/img/flamenco-594272_1920.jpg);
	background-size: cover;
	background-position: center;
	height: 500px;
	text-align: center;

	h3{
		font-size: 2rem;
		color: white;
		text-shadow: black 0.1em 0.1em 0.6em;
		padding: 15px;

	}
	h4{
		font-size: 1.5rem;	
		color: rgba(255, 255, 255, 0.712);
		text-align: right;
		padding-right: 10px;}
	p{
		font-size: 1rem;
		color: white;
		text-align: right;
		padding-right: 10px;
	}
}

.evento_tematico_reserva{
	display: grid;
	width: 50%;
}
